<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="soclminer_db_write" connectionString="Server=smnixdev.cloudapp.net;Port=3306;Database=soclminer_dev;Uid=smdev;Pwd=smdev@)!$;Pooling=true;Min Pool Size=10;Max Pool Size=100;" providerName="MySql.Data.MySqlClient" />
    <add name="soclminer_db_read" connectionString="Server=smnixdev.cloudapp.net;Port=3306;Database=soclminer_dev;Uid=smdev;Pwd=smdev@)!$;Pooling=true;Min Pool Size=10;Max Pool Size=100;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>